<div class="login_form">
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>
</div>

<div id="login_form">
  <h2>Netrunner Tracker</h2>
  <h3>A place to track your games of Android: Netrunner &trade;</h3>
  <%= form_tag do %>
    <fieldset>
      <legend><span>Please sign in</span></legend>
      <table>
        <tr>
          <td><%= label_tag :email, 'Email:' %></td>
          <td><%= text_field_tag :email, params[:email] %></td>
        </tr>
        <tr>
          <td><%= label_tag :password, 'Password:' %></td>
          <td><%= password_field_tag :password, params[:password] %></td>
        </tr>
      </table>
      <p>
      <div id="login_button">
        <%= submit_tag "Login" %>
      </div>
    </fieldset>
  <% end %>
  <p>
  <%= link_to 'Register', :register %>
</div>

<div id="site_description">
  <span>
    <h2>What is this?</h2>
    <p>
      Here you can track your games of Android: Netrunner. You can record individual
      games, including your faction and score.
    </p>
      
    <p>
      You can also record a match - a set of two games where you play each side once. Your
      match points and prestige points, and the match winner, are automatically calculated.
    </p>

    <p>You can even create leagues and tournaments, and associate your games with either...or both!</p>

    <p>
      You can view a list of all the games you've played, view a breakdown of your
      overall statistics by faction, or view the games and statistics of any of the
      other players.
    </p>
  </span>
</div>
