<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", leagues_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_league_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", league_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.league.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @league.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.league.comments", :default => t("activerecord.labels.comments", :default => "Comments")) %>:</b>
          <%= @league.comments %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.league.created_by", :default => t("activerecord.labels.created_by", :default => "Created By")) %>:</b>
          <%= @league.created_by.userid %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.league.games", :default => t("activerecord.labels.games", :default => "Games Played")) %>:</b>
          <%= @league.games.count %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.league.users", :default => t("activerecord.labels.users", :default => "Players")) %>:</b>
          <%= @league.users.map(&:userid).join(", ") %>
        </p>

      <div class="wat-cf">
        <% if current_user.admin? || current_user == @league.created_by %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_league_path(@league), :class => "button" %> 
        <% end %>
        <% if current_user.admin? %>
          <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), league_path(@league), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
