<h1>Corporations</h1>

<table>
  <tr>
    <th>Faction</th>
    <th>Slogan</th>
    <th>Identity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @corporations.each do |corporation| %>
  <tr>
    <td><%= corporation.faction %></td>
    <td><%= corporation.slogan %></td>
    <td><%= corporation.identity %></td>
    <td><%= link_to 'Show', corporation %></td>
    <td><%= link_to 'Edit', edit_corporation_path(corporation) %></td>
    <td><%= link_to 'Destroy', corporation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Corporation', new_corporation_path %>
