<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "#{t("web-app-theme.list", :default => "List")}", corporations_path  %></li>
      <% if current_user.admin? %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_corporation_path %></li>
      <% end %>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Corporations</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th><%= t("activerecord.attributes.corporation.faction", :default => t("activerecord.labels.faction", :default => "Faction")) %> </th>
          <th><%= t("activerecord.attributes.corporation.slogan", :default => t("activerecord.labels.slogan", :default => "Slogan")) %> </th>
          <th><%= t("activerecord.attributes.corporation.identity", :default => t("activerecord.labels.identity", :default => "Identity")) %> </th>
          <th>Min. Cards</th>
          <th>Max. Influence</th>
        </tr>
        <% @corporations.each do |corporation| -%>
        <tr class="<%= cycle("odd", "even") %>" onclick="window.location.href = '<%= corporation_path(corporation) %>'">
          <td> <%= corporation.faction %> </td>
          <td> <%= corporation.slogan %> </td>
          <td> <%= corporation.identity %> </td>
          <td> <%= corporation.min_cards %> </td>
          <td> <%= corporation.max_influence %> </td>
        </tr>          
        <% end -%>
      </table>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
