<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", corporations_path  %></li>
      <% if current_user.admin? %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_corporation_path %></li>
      <% end %>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", corporation_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.corporation.faction", :default => t("activerecord.labels.faction", :default => "Faction")) %>:</b>
          <%= @corporation.faction %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.corporation.slogan", :default => t("activerecord.labels.slogan", :default => "Slogan")) %>:</b>
          <%= @corporation.slogan %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.corporation.identity", :default => t("activerecord.labels.identity", :default => "Identity")) %>:</b>
          <%= @corporation.identity %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.corporation.min_cards", :default => t("activerecord.labels.min_cards", :default => "Min. Cards")) %>:</b>
          <%= @corporation.min_cards %>
        </p>
        <p>
          <b><%= t("activerecord.attributes.corporation.max_influence", :default => t("activerecord.labels.max_influence", :default => "Max. Influence")) %>:</b>
          <%= @corporation.max_influence %>
        </p>
      <div class="wat-cf">
        <% if current_user.admin? %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_corporation_path(@corporation), :class => "button" %> 
        <% end %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
