<h1>Runners</h1>

<table>
  <tr>
    <th>Faction</th>
    <th>Identity</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @runners.each do |runner| %>
  <tr>
    <td><%= runner.faction %></td>
    <td><%= runner.identity %></td>
    <td><%= runner.name %></td>
    <td><%= link_to 'Show', runner %></td>
    <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
    <td><%= link_to 'Destroy', runner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'Corporations', corporations_path %></p>
<p><%= link_to 'Players', users_path %></p>
<p><%= link_to 'Games', games_path %></p>

<br />

<%= link_to 'New Runner', new_runner_path %>
