<p id="notice"><%= notice %></p>

<p>
  <b>Faction:</b>
  <%= @runner.faction %>
</p>

<p>
  <b>Identity:</b>
  <%= @runner.identity %>
</p>

<p>
  <b>Name:</b>
  <%= @runner.name %>
</p>


<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
