<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", runners_path  %></li>
      <% if current_user.admin? %>
        <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_runner_path %></li>
      <% end %>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", runner_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.runner.faction", :default => t("activerecord.labels.faction", :default => "Faction")) %>:</b>
          <%= @runner.faction %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.runner.identity", :default => t("activerecord.labels.identity", :default => "Identity")) %>:</b>
          <%= @runner.identity %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.runner.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @runner.name %>
        </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
