<div class="block notice">
  <div class="content">
    <% case params[:action] %>
    <% when 'index' %>
      <% if @league %>
        <h4>Players of <%= @league.name %></h4>
      <% else %>
        <h3>Players</h3>
      <% end %>
      <p>A list of players and their game statistics. Click on the userid to view details about that player.</p>
      <p>You may view any profile, but may only edit your own.</p>
    <% when 'show' %>
      <h3>Player: <%= @user.userid %></h3>
      <p>Details for the selected player, including wins and losses.</p>
    <% end %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Games', games_path %></li>
    <% if params[:action] == 'show' %>
      <li><%= link_to "Games of #{@user.userid}", user_games_path(@user) %></li>
    <% end %>
    <li><%= link_to 'Leagues', leagues_path %></li>
  </ul>
</div>
