<p id="notice"><%= notice %></p>

<table border=1 cellpadding=5>
  <tr>
    <td>
      <b>Userid:</b>
      <%= @user.userid %>
    </td>
    <td>
      <b>Games:</b>
      <%= @user.total_games %>
    </td>
  </tr>
  <tr>
    <td><b>Rank: </b>TBD</td>
    <td>
      <b>Wins:</b>
      <%= @user.total_wins %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Email:</b>
      <%= @user.email %>
    </td>
    <td>
      <b>Losses:</b>
      <%= @user.total_losses %>
    </td>
  </tr>
    <td>
      <b>First name:</b>
      <%= @user.first_name %>
    </td>
    <td>
      <b>Wins as Runner:</b>
      <%= @user.total_wins_as_runner %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Last name:</b>
      <%= @user.last_name %>
    </td>
    <td>
      <b>Wins as Corporation:</b>
      <%= @user.total_wins_as_corporation %>
    </td>
  </tr>
</table>

<p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</p>
