<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", users_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", user_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <table class="table">  
        <tr>
          <td><b><%= t("activerecord.attributes.user.userid", :default => t("activerecord.labels.userid", :default => "Userid")) %>:</b></td>
          <td><%= @user.userid %></td>
          <td><b>Games</b></td>
          <td><%= @user.total_games %></td>
        <tr>
          <td><b><%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b></td>
          <td><%= @user.email %></td>
          <td><b>Wins</b></td>
          <td><%= @user.total_wins %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.user.first_name", :default => t("activerecord.labels.first_name", :default => "First name")) %>:</b></td>
          <td><%= @user.first_name %></td>
          <td><b>Losses</b></td>
          <td><%= @user.total_losses %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.user.last_name", :default => t("activerecord.labels.last_name", :default => "Last name")) %>:</b></td>
          <td><%= @user.last_name %></td>
          <td><b>Wins as Runner</b></td>
          <td><%= @user.total_wins_as_runner %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.user.admin", :default => t("activerecord.labels.admin", :default => "Admin")) %>:</b></td>
          <td><%= @user.admin? ? 'Yes' : 'No' %></td>
          <td><b>Wins as Corporation</b></td>
          <td><%= @user.total_wins_as_corporation %></td>
        </tr>
      </table>
      <div class="wat-cf">
        <% if current_user.admin? || current_user == @user %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_user_path(@user), :class => "button" %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), user_path(@user), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
