<h1>Listing tournaments</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num players</th>
    <th>Num rounds</th>
    <th>Winner</th>
    <th>Created by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tournaments.each do |tournament| %>
  <tr>
    <td><%= tournament.name %></td>
    <td><%= tournament.num_players %></td>
    <td><%= tournament.num_rounds %></td>
    <td><%= tournament.winner %></td>
    <td><%= tournament.created_by %></td>
    <td><%= link_to 'Show', tournament %></td>
    <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
    <td><%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tournament', new_tournament_path %>
