<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", tournaments_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New Tournament")}", new_tournament_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", tournament_path %></li>
      <li><%= link_to "New Match", new_match_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.tournament.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @tournament.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tournament.num_players", :default => t("activerecord.labels.num_players", :default => "Num players")) %>:</b>
          <%= @tournament.num_players %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tournament.num_rounds", :default => t("activerecord.labels.num_rounds", :default => "Num rounds")) %>:</b>
          <%= @tournament.num_rounds %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tournament.winner", :default => t("activerecord.labels.winner", :default => "Winner")) %>:</b>
          <%= @tournament.winner %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.tournament.created_by", :default => t("activerecord.labels.created_by", :default => "Created by")) %>:</b>
          <%= @tournament.created_by.userid %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_tournament_path(@tournament), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), tournament_path(@tournament), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
