<div class="block notice">
  <h3>Games</h3>
  <div class="content">
    <p>The Games list shows all of the games that have been played.</p>
    <p>You can see greater detail for a game by clicking on it.</p>
    Total Games: <%= @games.count %><br/>
    Runner Wins: <%= @games.runner_wins.count %><br/>
    Corporation Wins: <%= @games.corporation_wins.count %><br/>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Players', users_path %></li>
    <li><%= link_to 'Leagues', leagues_path %></li>
  </ul>
</div>
