<div class="block notice">
  <div class="content">
    <% case params[:action] %>
    <% when 'index' %>
      <h3>Games
      <% if @user %>
        of <%= @user.userid %>
      <% end %>
      <% if @league %>
        of <%= @league.name %>
      <% end %>
      </h3>
      <p>The Games list shows all of the games that have been played
      <% if @user %>
        by <%= @user.userid %>
      <% end %>
      <% if @league %>
        in the league '<%= @league.name %>'
      <% end %>
      </p>
      <p>You can see greater detail for a game by clicking on it</p>
    <% when 'show' %>
      <h3>Winner: <%= @game.player_winner %></h3>
      <p>Here you see details for the selected game.</p>
      <p>Games that end due to special circumstances, such as flatlining, should be noted in the comments.
    <% end %>
    <% if @games %>
      <p>
      Total Games: <%= @games.count %><br/>
      Runner Wins: <%= @games.runner_wins.count %><br/>
      Corporation Wins: <%= @games.corporation_wins.count %><br/>
      </p>
    <% end %>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to 'Players', users_path %></li>
    <li><%= link_to 'Leagues', leagues_path %></li>
  </ul>
</div>
