<h1>All Netrunner Games</h1>

<% if @user %>
  <h2>- <%= @user.userid %></h2>
<% end %>

<table>
  <tr>
    <th>Runner</th>
    <th>Faction</th>
    <th>Corp</th>
    <th>Faction</th>
    <th>Runner score</th>
    <th>Corp score</th>
    <th>Date</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= link_to(game.runner_user.userid, user_path(game.runner_user.id)) %></td>
    <td><%= game.runner.faction %></td>
    <td><%= link_to(game.corporation_user.userid, user_path(game.corporation_user.id)) %></td>
    <td><%= game.corporation.faction %></td>
    <td><%= game.runner_score %></td>
    <td><%= game.corporation_score %></td>
    <td><%= game.date %></td>
    <td><%= game.comment %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
