<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", games_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_game_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", game_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <table class="table"> 
        <tr>
          <td><b><%= t("activerecord.attributes.game.league_id", :default => t("activerecord.labels.league_id", :default => "League")) %>:</b></td>
          <td><%= link_to(@game.league.name, league_path(@game.league)) if @game.league %></td>
          <td><b><%= t("activerecord.attributes.game.date", :default => t("activerecord.labels.date", :default => "Date")) %>:</b></td>
          <td><%= @game.date %></td>
        </tr>

        <tr>
          <td><b><%= t("activerecord.attributes.game.runner_user", :default => t("activerecord.labels.runner_user", :default => "Runner")) %>:</b></td>
          <td><%= link_to(@game.runner_user.userid, user_path(@game.runner_user)) %></td>
          <td><b><%= t("activerecord.attributes.game.corporation_user", :default => t("activerecord.labels.corporation_user", :default => "Corporation")) %>:</b></td>
          <td><%= link_to(@game.corporation_user.userid, @game.corporation_user) %></td>
        </tr>

        <tr>
          <td><b><%= t("activerecord.attributes.game.runner.faction", :default => t("activerecord.labels.runner", :default => "Faction")) %>:</b></td>
          <td><%= @game.runner.faction + ' - ' + @game.runner.name %></td>
          <td><b><%= t("activerecord.attributes.game.corporation_id", :default => t("activerecord.labels.corporation_id", :default => "Faction")) %>:</b></td>
          <td><%= @game.corporation.faction + ' - ' + @game.corporation.slogan %></td>
        </tr>

        <tr>
          <td><b><%= t("activerecord.attributes.game.runner_score", :default => t("activerecord.labels.runner_score", :default => "Score")) %>:</b></td>
          <td><%= @game.runner_score %></td>
          <td><b><%= t("activerecord.attributes.game.corporation_score", :default => t("activerecord.labels.corporation_score", :default => "Score")) %>:</b></td>
          <td><%= @game.corporation_score %></td>
        </tr>

        <tr>
          <td><b><%= t("activerecord.attributes.game.flatlined", :default => t("activerecord.labels.flatlined", :default => "Flatlined")) %>:</b></td>
          <td><%= @game.flatlined? ? 'Yes' : 'No' %></td>
          <td><b><%= t("activerecord.attributes.game.draw_death", :default => t("activerecord.labels.draw_death", :default => "Draw Death")) %>:</b></td>
          <td><%= @game.draw_death? ? 'Yes' : 'No' %></td>
        </tr>

        <tr>
          <td><b>Match Game?</b></td>
          <% if @game.match %>
            <td><%= link_to 'View Match', match_path(@game.match) %></td>
          <% else %>
            <td>No</td>
          <% end %>
        </tr>

        <tr>
          <td><b><%= t("activerecord.attributes.game.comment", :default => t("activerecord.labels.comment", :default => "Comment")) %>:</b></td>
          <td colspan=3><%= @game.comment %></td>
        </tr>

      </table>

      <div class="wat-cf">
        <% if current_user.admin? || current_user == @game.runner_user || current_user == @game.corporation_user %>
          <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_game_path(@game), :class => "button" %> 
        <% end %>
        <% if current_user.admin? %>
          <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), game_path(@game), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
        <% end %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
