<p id="notice"><%= notice %></p>

<p>
  <b>Runner user:</b>
  <%= @game.runner_user.userid %>
</p>

<p>
  <b>Corp user:</b>
  <%= @game.corporation_user.userid %>
</p>

<p>
  <b>Runner:</b>
  <%= @game.runner.name %>
</p>

<p>
  <b>Corp:</b>
  <%= @game.corporation.faction %>
</p>

<p>
  <b>Runner score:</b>
  <%= @game.runner_score %>
</p>

<p>
  <b>Corp score:</b>
  <%= @game.corporation_score %>
</p>

<p>
  <b>Date:</b>
  <%= @game.date %>
</p>

<p>
  <b>Comment:</b>
  <%= @game.comment %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
