<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", matches_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_match_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", match_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.match.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @match.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.match.tournament_id", :default => t("activerecord.labels.tournament_id", :default => "Tournament")) %>:</b>
          <%= @match.tournament_id %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.match.date", :default => t("activerecord.labels.date", :default => "Date")) %>:</b>
          <%= @match.date %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_match_path(@match), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), match_path(@match), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>