<h1>Listing cards</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Faction</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.title %></td>
    <td><%= card.kind %></td>
    <td><%= card.faction %></td>
    <td><%= link_to 'Show', card %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_card_path(card) %></td>
      <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if current_user.admin? %>
  <br />
  <%= link_to 'New Card', new_card_path %>
<% end %>
