<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @card.title %>
</p>

<p>
  <b>Type:</b>
  <%= @card.kind %>
</p>

<p>
  <b>Faction:</b>
  <%= @card.faction %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
